# Awesome Streamers

🎥 A list of awesome developer live-streamers!

## Table of Contents
{{ range . }}
- [{{titled .Category }}](#{{dashed .Category }})
{{- end }}

{{ range . }}
## {{titled .Category}}

|Name|Social|Twitch|YouTube|Topics|
|---|---|---|---|---|
{{ range .Streamers }}|{{ titled .Name }}|{{ if .Social }}[Twitter]({{ .Social }}){{ end }}|{{ if .Streams }}{{ if .Streams.Twitch }}[Twitch]({{ .Streams.Twitch }}){{ end }}|{{ if .Streams.YouTube }}[YouTube]({{ .Streams.YouTube }}){{ end }}|{{ .Topics }}|
{{ end -}}

{{ end }}
{{- end }}
